<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Report Card</h1>

    <table border="1" cellpadding="10">
        <tr>
            <th>Name</th>
            <th>Grade</th>
            <th>Favorite Subject</th>
        </tr>

        <% student.forEach(function(s) { %>
            <tr>
                <td><%= s.name %></td>
                <td><%= s.grade %></td>
                <td><%= s.favoriteSubject %></td>
            </tr>
        <% }) %>
    </table>

</body>
</html>